<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <ion-item
              *ngIf="!loggedIn"
              routerDirection="'root'"
              (click)="logIn()"
              routerLink="/">
              <ion-icon slot="start" name="log-in"></ion-icon>
              <ion-label>
                Login
              </ion-label>
            </ion-item>
            <ion-item
              *ngIf="loggedIn"
              routerDirection="'root'"
              routerLink="/home">
              <ion-icon slot="start" name="home"></ion-icon>
              <ion-label>
                Home
              </ion-label>
            </ion-item>
            <ion-item
              *ngIf="loggedIn"
              routerDirection="'root'"
              (click)="logOut()"
              routerLink="/">
              <ion-icon slot="start" name="log-out"></ion-icon>
              <ion-label>
                Logout
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
